agm-map {
    height: 750px;
}

ngb-alert {
    z-index: 1;
    position: relative;
    text-align: center;
    margin-top: -25px;
}

app-panel-buttons {
    margin-left: 20px;
    z-index: 2;
    position: absolute;
}