
<agm-map (mapClick)="agregarMarker($event)" [latitude]="lat" [longitude]="lng" [zoom]="15">
  <agm-marker *ngFor="let marker of markers; let i = index" [latitude]="marker.lat" [longitude]="marker.lng">    <agm-info-window>
    <strong>{{marker.title}}</strong>
    <p>
      {{marker.desc}}
    </p>
    <div>
      <button type="button" class="btn btn-primary">Editar</button>
      <button (click)="deleteMarker(i)" type="button" class="btn btn-warn">Borrar</button>
    </div>
</agm-info-window>
</agm-marker>



</agm-map>

<p *ngIf = "alert" >
  <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
</p>